/*Reset all margins*/
* {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

/*Background Image*/

html {
	background: url("img/gradientBackground.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.mobileLogo {
	display: none;
}

/*Navbar*/

.navLeft {
	position: fixed;
	width: 25%;
	height: 100%;
	background: -webkit-linear-gradient(#16003d, #8343f6);
	background: -o-linear-gradient(#16003d, #8343f6);
	background: -moz-linear-gradient(#16003d, #8343f6);
	background: linear-gradient(#16003d, #8343f6);
	color: white;
	-webkit-clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
	clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
	transition: transform .75s;
	margin-left: -17.5vw;
	transform: translate(17.5vw, 0);
}

.navLeftGone {
	position: fixed;
	width: 25%;
	height: 100%;
	background: -webkit-linear-gradient(#16003d, #8343f6);
	background: -o-linear-gradient(#16003d, #8343f6);
	background: -moz-linear-gradient(#16003d, #8343f6);
	background: linear-gradient(#16003d, #8343f6);
	color: white;
	-webkit-clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
	clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
	transition: transform 2.25s;
	margin-left: -17.5vw;
	transform: translate(-25vw, 0);
}

 .navLeftGone a, .navLeftGone h1, .navLeftGone img, .navLeftGone i, .navLeftGone div.navLinks, .navLeftGone div.nonLinkNav {
	 /*width: 0;
	 height: 0;
	 /*display: none;*/
 }

 .navLeftGone a, .navLeftGone h1 {
	font-family: 'Josefin Sans', sans-serif;
 	font-weight: 100;
 	letter-spacing: 1.75px;
 	text-decoration: none;
 	color: white;
 	display: block;
 	line-height: 2.75;
 	font-size: 22px;
 	/*font-weight: normal;*/
 	display: inline;
 }

.navLeft a, .navLeft h1 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 100;
	letter-spacing: 2px;
	text-decoration: none;
	color: white;
	display: block;
	line-height: 2.75;
	font-size: 22px;
	/*font-weight: normal;*/
	display: inline;
}

i {
	overflow-y: visible;
	overflow-x: visible;
}

.aparaviLogo {
	padding: 5% 0 0 0;
	margin: 0 auto 0 auto;
	width: 80%;
}

.navLinks {
	display: flex;
	flex-direction: column;
	margin: 10% 0 0 0;
}

.navLeft i {
	padding: 0 5% 0 8%;
}

.navLeftGone i {
	padding: 0 5% 0 8%;
}

.caretIcon1 {
	padding: 0 5% 0 4% !important;
}

.fa-lg {
	vertical-align: 0;
}

.fa-sign-out {
	font-size: 1.1em;
}

.navLinks h1:hover {
	color: #FF9012;
}

.activeNavLink {
	background-color: rgba(255, 255, 255, .1);
	box-shadow: 0px 5px 5px rgba(0, 0, 0, .2);
}

.miniNavLinks {
	display: flex;
	flex-direction: column;
}

.miniNavLinks a {
	line-height: 1.25px;
}

.miniNavLinks h1 {
	font-size: 14px;
}

.miniNavLinks i {
	padding-left: 16%
}

.smallerIcon {
	font-size: .7em;
}

.widthFix {
	padding-left: 16.5% !important;
	padding-right: 6% !important;
}

.widthFix2 {
	padding-left: 16.5% !important;
	padding-right: 5.75% !important;
}

/*Nav Cirle*/

.navCircleOpen {
	position: fixed;
	width:100px;
    height:100px;
    border-radius:50px;
    font-size:14px;
    line-height:100px;
    text-align:center;
	z-index: 2;
	background: white;
	/*background: -webkit-linear-gradient(135deg, #6F37B2, #8343f6, #FF9012);
	background: -o-linear-gradient(135deg, #6F37B2, #8343f6, #FF9012);
	background: -moz-linear-gradient(135deg, #6F37B2, #8343f6, #FF9012);
	background: linear-gradient(135deg, #6F37B2, #8343f6, #FF9012);*/
	border: 3px solid #FF9012;
	margin: 80vh 0 0 3.5vw;
	box-shadow: 5px 5px 10px rgba(95, 89, 123, 0.15);
	transform: rotateY(0deg);
	transition: transform .25s;
}

.navCircleOpen:hover {
	cursor: pointer;
}

.navCircleClosed {
	position: fixed;
	width:100px;
    height:100px;
    border-radius:50px;
    font-size:14px;
    line-height:100px;
    text-align:center;
	border: 3px solid #FF9012;
	z-index: 2;
	background: white;
	/*background: -webkit-linear-gradient(135deg, #6F37B2, #8343f6, #FF9012);
	background: -o-linear-gradient(135deg, #6F37B2, #8343f6, #FF9012);
	background: -moz-linear-gradient(135deg, #6F37B2, #8343f6, #FF9012);
	background: linear-gradient(135deg, #6F37B2, #8343f6, #FF9012);*/
	margin: 80vh 0 0 3.5vw;
	box-shadow: 5px 5px 10px rgba(95, 89, 123, 0.2);
	transform: rotateY(180deg);
	transition: transform .25s;
}



.navCircleClosed:hover {
	cursor: pointer;
}

.navCircleOpen div.bar1 {
	position: absolute;
	height: 50px;
	width: 7.5px;
	background: rgb(22, 0, 70);
	top: 25%;
	left: 47%;
	transform: rotate(45deg);
	border-radius: 5%;
}

.navCircleOpen div.bar2 {
	position: absolute;
	height: 50px;
	width: 7.5px;
	background: rgb(22, 0, 70);
	top: 25%;
	left: 47%;
	transform: rotate(-45deg);
	border-radius: 5%;
}

.navCircleClosed div.bar1 {
	position: absolute;
	height: 50px;
	width: 7.5px;
	border-radius: 10%;
	background: rgb(22, 0, 70);
	top: 9%;
	left: 44.5%;
	transform: rotate(90deg);
}

.navCircleClosed div.bar2 {
	position: absolute;
	height: 50px;
	width: 7.5px;
	border-radius: 10%;
	background: rgb(22, 0, 70);
	top: 25%;
	left: 44.5%;
	transform: rotate(90deg);
}

.navCircleClosed div.bar3 {
	position: absolute;
	height: 50px;
	width: 7.5px;
	border-radius: 10%;
	background: rgb(22, 0, 70);
	top: 41%;
	left: 44.5%;
	transform: rotate(90deg);
}


/*Content*/

.bodyContent {
	margin: 0 auto 0 auto;
	width: 75%;
	padding-top: 3%;
	transition: transform .5s;
	transform: translate(16.75%, 0);
}

.bodyContent2 {
	margin: 0 auto 0 auto;
	width: 75%;
	padding-top: 3%;
	transition: transform 1.25s;
}

/*Dashboard*/

.widget {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: rgba(22, 0, 50, .6);
	background-color: white;
	display: inline-block;
	padding: 2% 2% 2% 2%;
	margin: 0 1.5% 3% 1.5%;
	width: 17.75%;
	border: 1px solid rgba(95, 89, 123, 0.15);
	box-shadow: 5px 5px 10px rgba(95, 89, 123, 0.15);
	text-align: right;
	border-radius: 5px;
}

.widget h3 {
	display: inline-block;
	font-weight: 300;
	line-height: 1.75;
	letter-spacing: 1px;
	font-size: 22px;
	padding-bottom: 10%;
}

.widget i {
	float: left;
}

.widget p {
	font-size: 16px;
}

div.widget i.fa-database:before {
	background: -webkit-linear-gradient(135deg, #6F37B2, #6F37B2 30%, #FF9012);
	background: -o-linear-gradient(135deg, #6F37B2, #6F37B2 30%, #FF9012);
	background: -moz-linear-gradient(135deg, #6F37B2, #6F37B2 30%, #FF9012);
	background: linear-gradient(135deg, #6F37B2, #6F37B2 30%, #FF9012);
	color: transparent;
	-webkit-background-clip: text;
    background-clip: text;
	font-size: .85em;
}

div.widget i.fa-file:before {
	background: -webkit-linear-gradient(135deg, #6F37B2, #6F37B2 30%, #FF9012);
	background: -o-linear-gradient(135deg, #6F37B2, #6F37B2 30%, #FF9012);
	background: -moz-linear-gradient(135deg, #6F37B2, #6F37B2 30%, #FF9012);
	background: linear-gradient(135deg, #6F37B2, #6F37B2 30%, #FF9012);
	color: transparent;
	-webkit-background-clip: text;
    background-clip: text;
	font-size: .85em;
}

div.widget i.fa-ambulance:before {
	background: -webkit-linear-gradient(135deg, #6F37B2, #6F37B2 30%, #FF9012);
	background: -o-linear-gradient(135deg, #6F37B2, #6F37B2 30%, #FF9012);
	background: -moz-linear-gradient(135deg, #6F37B2, #6F37B2 30%, #FF9012);
	background: linear-gradient(135deg, #6F37B2, #6F37B2 30%, #FF9012);
	color: transparent;
	-webkit-background-clip: text;
    background-clip: text;
	font-size: .85em;
}

div.widget i.fa-archive:before {
	background: -webkit-linear-gradient(135deg, #6F37B2, #6F37B2 30%, #FF9012);
	background: -o-linear-gradient(135deg, #6F37B2, #6F37B2 30%, #FF9012);
	background: -moz-linear-gradient(135deg, #6F37B2, #6F37B2 30%, #FF9012);
	background: linear-gradient(135deg, #6F37B2, #6F37B2 30%, #FF9012);
	color: transparent;
	-webkit-background-clip: text;
    background-clip: text;
	font-size: .85em;
}

div.widget i.fa-server:before {
	background: -webkit-linear-gradient(135deg, #6F37B2, #6F37B2 30%, #FF9012);
	background: -o-linear-gradient(135deg, #6F37B2, #6F37B2 30%, #FF9012);
	background: -moz-linear-gradient(135deg, #6F37B2, #6F37B2 30%, #FF9012);
	background: linear-gradient(135deg, #6F37B2, #6F37B2 30%, #FF9012);
	color: transparent;
	-webkit-background-clip: text;
    background-clip: text;
	font-size: .85em;
}

div.widget i.fa-desktop:before {
	background: -webkit-linear-gradient(135deg, #6F37B2, #6F37B2 30%, #FF9012);
	background: -o-linear-gradient(135deg, #6F37B2, #6F37B2 30%, #FF9012);
	background: -moz-linear-gradient(135deg, #6F37B2, #6F37B2 30%, #FF9012);
	background: linear-gradient(135deg, #6F37B2, #6F37B2 30%, #FF9012);
	color: transparent;
	-webkit-background-clip: text;
    background-clip: text;
	font-size: .85em;
}

div.widget i.fa-camera:before {
	background: -webkit-linear-gradient(135deg, #6F37B2, #6F37B2 30%, #FF9012);
	background: -o-linear-gradient(135deg, #6F37B2, #6F37B2 30%, #FF9012);
	background: -moz-linear-gradient(135deg, #6F37B2, #6F37B2 30%, #FF9012);
	background: linear-gradient(135deg, #6F37B2, #6F37B2 30%, #FF9012);
	color: transparent;
	-webkit-background-clip: text;
    background-clip: text;
	font-size: .85em;
}

div.widget i.fa-check:before {
	background: -webkit-linear-gradient(135deg, #6F37B2, #6F37B2 30%, #FF9012);
	background: -o-linear-gradient(135deg, #6F37B2, #6F37B2 30%, #FF9012);
	background: -moz-linear-gradient(135deg, #6F37B2, #6F37B2 30%, #FF9012);
	background: linear-gradient(135deg, #6F37B2, #6F37B2 30%, #FF9012);
	color: transparent;
	-webkit-background-clip: text;
    background-clip: text;
	font-size: .85em;
}

/*Dashboard Summary*/

div.widgetWide {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: rgba(22, 0, 50, .6);
	width: 96.5%;
	margin: 0 1.5% 3% 1.5%;
	background-color: white;
	display: inline-block;
	border: 1px solid rgba(95, 89, 123, 0.15);
	box-shadow: 5px 5px 10px rgba(95, 89, 123, 0.15);
	border-radius: 5px;
}


div.summaryHeader {
	padding: 2% 2% 0% 2%;
}

div.summaryHeader h2 {
	padding-left: 5px;
}

div.widgetWide h2 {
	color: rgba(22, 0, 50, .8);
	letter-spacing: 1.5px;
	display: inline-block;
	text-align: left;
	margin: 0 2.5% 2% 0;
}

div.widgetWide i {
	color: rgba(22, 0, 50, .8);
	float: right;
	margin-left: 2.5%;
}

div.summaryInfo {
	overflow-x: scroll;
	white-space: nowrap;
}

.summaryInfoBox {
	width: 147px;
	text-align: center;
	margin: 20px 0 0 0;
	display: inline-block;
	overflow-x: hidden;
	overflow-y: hidden;
}

.summaryInfoTitle {
	margin-bottom: 20px;
}

.circleChartOuter {
	position: relative;
	width:100px;
    height:100px;
    border-radius:50%;
    font-size:14px;
    line-height:100px;
    text-align:center;
	background: -webkit-linear-gradient(#2492b7, #2EFFDA);
	background: -o-linear-gradient(#2492b7, #2EFFDA);
	background: -moz-linear-gradient(#2492b7, #2EFFDA);
	background: linear-gradient(#2492b7, #2EFFDA);
	margin: 22.5px 22.5px;
	overflow-y: hidden;
	-webkit-animation:spin 3s linear infinite;
    -moz-animation:spin 3s linear infinite;
    animation:spin 3s linear infinite;
}

.circleChartOuter2 {
	position: relative;
	width:100px;
    height:100px;
    border-radius:50%;
    font-size:14px;
    line-height:100px;
    text-align:center;
	background: gray;
	background: gray;
	background: gray;
	background: gray;
	overflow-y: hidden;
	margin: 22.5px 22.5px;
	-webkit-animation:spin 3s linear infinite;
    -moz-animation:spin 3s linear infinite;
    animation:spin 3s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.circleChartInner {
	position: absolute;
	top: 6%;
	left: 6%;
	width:87.5px;
    height:87.5px;
    border-radius:50%;
    line-height:87.5px;
    background: white;
	margin: auto auto;
	-webkit-animation:spin2 3s linear infinite;
	-moz-animation:spin2 3s linear infinite;
	animation:spin2 3s linear infinite;
}


@-moz-keyframes spin2 { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin2 { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin2 { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

.verticalLine {
	position: absolute;
	width: 2px;
	margin: 20px 0 0 0;
	height: 144px;
	display: inline-block;
	background-color: rgba(22, 0, 50, .0);
}

hr {
	border: 1px solid rgba(22, 0, 50, .1);
}


/*Dashboard Health*/

.widgetHalf {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: rgba(22, 0, 50, .6);
	width: 42.6%;
	margin: 0 1.5% 3% 1.5%;
	background-color: white;
	display: inline-block;
	border: 1px solid rgba(95, 89, 123, 0.15);
	box-shadow: 5px 5px 10px rgba(95, 89, 123, 0.15);
	padding: 0% 2% 2% 2%;
	border-radius: 5px;
	height: 380px;
	overflow-y: scroll;
}

.healthWidgetClosed {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: rgba(22, 0, 50, .6);
	width: 42.6%;
	margin: 0 1.5% 3% 1.5%;
	background-color: white;
	display: inline-block;
	border: 1px solid rgba(95, 89, 123, 0.15);
	box-shadow: 5px 5px 10px rgba(95, 89, 123, 0.15);
	padding: 0% 2% 0% 2%;
	/*border-radius: 5px;*/
	height: 70.5px;
	margin-bottom: 363px;
}

.fixedHeader {
	position: absolute;
	padding-top: 20.5px;
	margin-left: -2px;
	z-index: 1;
	width: 32.25vw;
	background-color: white;
}

.fixedHeader h2 {
	padding-left: 5px;
}

.healthContent {
	margin-top: 90px;
}

div.widgetHalf h2 {
	font-weight: bold;
	color: rgba(22, 0, 50, .8);
	letter-spacing: 1.5px;
	display: inline-block;
	text-align: left;
}

div.widgetHalf i {
	color: rgba(22, 0, 70, .8);
	float: right;
	margin-left: 2.5%;
}

.healthWidget h3 {
	font-family: 'Merriweather Sans', sans-serif;
	display: inline-block;
}


.healthWidget i.fa-desktop:before {
	background: -webkit-linear-gradient(135deg, #6F37B2, #6F37B2 30%, #FF9012);
	background: -o-linear-gradient(135deg, #6F37B2, #6F37B2 30%, #FF9012);
	background: -moz-linear-gradient(135deg, #6F37B2, #6F37B2 30%, #FF9012);
	background: linear-gradient(135deg, #6F37B2, #6F37B2 30%, #FF9012);
	color: transparent;
	-webkit-background-clip: text;
    background-clip: text;
}

.healthWidget i.fa-desktop {
	float: left;
	padding: 5px 12.5px 0 0;
	margin-left: 0;
}


.healthWidget p {
	font-size: 12px;
	display: inline-block;
	max-width: 240px;
	white-space: nowrap;
	overflow-x: scroll;
}

p.offlineBG {
	text-align: center;
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 12px;
	background: -webkit-linear-gradient(135deg, #6F37B2, #6F37B2 30%, #FF9012);
	background: -o-linear-gradient(135deg, #6F37B2, #6F37B2 30%, #FF9012);
	background: -moz-linear-gradient(135deg, #6F37B2, #6F37B2 30%, #FF9012);
	background: linear-gradient(135deg, #6F37B2, #6F37B2 30%, #FF9012);
	display: inline-block;
	width: 150px;
	padding: 1% 2%;
	color: white;
	border-radius: 25px;
}

.floatRight {
	float: right;
}

.moveUp {
	position: relative;
	margin-right: 31px;
}

.healthHR {
	margin: 20px 0 20px 0;;
}

.healthHR2 {
	margin-bottom: 0;
}

/*Dashboard Live Feed */

.healthWidget i.fa-server:before {
	background: -webkit-linear-gradient(135deg, #6F37B2, #6F37B2 30%, #FF9012);
	background: -o-linear-gradient(135deg, #6F37B2, #6F37B2 30%, #FF9012);
	background: -moz-linear-gradient(135deg, #6F37B2, #6F37B2 30%, #FF9012);
	background: linear-gradient(135deg, #6F37B2, #6F37B2 30%, #FF9012);
	color: transparent;
	-webkit-background-clip: text;
    background-clip: text;
}

.healthWidget i.fa-server {
	float: left;
	padding: 5px 12.5px 0 0;
	margin-left: 0;
}

p.completedBG {
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 16px;
	text-align: center;
	background: -webkit-linear-gradient(135deg, #2492b7, #2492b7 30%, #2EFFDA);
	background: -o-linear-gradient(135deg, #2492b7, #2492b7 30%, #2EFFDA);
	background: -moz-linear-gradient(135deg, #2492b7, #2492b7 30%, #2EFFDA);
	background: linear-gradient(135deg, #2492b7, #2492b7 30%, #2EFFDA);
	display: inline-block;
	color: white;
	width: 115px;
	padding: 0.5% 2%;
	border-radius: 25px;
}

.moveUp2 {
	position: relative;
	margin-right: 18px;
}

.liveFeedContent {
	margin-top: 90px;
}

@media (max-width: 1320px) {
	.widgetHalf {
		width: 92.5%;
	}

	.fixedHeader {
		width: 69.75vw;
	}

	.healthWidgetClosed {
		margin-bottom: 3%;
	}

	.healthWidget h3 {
		padding-top: .75%;
		font-size: 16px;
	}

	.healthWidget p.indent {
		padding-left: 2%;
		margin-top: -.25%;
	}

	.healthWidget p.moveUp {
		padding-left: 2%;
		padding-top: 1.25%;
	}

	.healthWidget p.moveUp2 {
		padding-left: 2%;
		padding-top: 1.25%;
	}

}

@media (max-width: 1250px) {

	div.widget i.fa-database:before {
		font-size: .7em;
	}

	div.widget i.fa-file:before {
		font-size: .7em;
	}

	div.widget i.fa-ambulance:before {
		font-size: .7em;
	}

	div.widget i.fa-archive:before {
		font-size: .7em;
	}

	div.widget i.fa-server:before {
		font-size: .7em;
	}

	div.widget i.fa-desktop:before {
		font-size: .7em;
	}

	div.widget i.fa-camera:before {
		font-size: .7em;
	}

	div.widget i.fa-check:before {
		font-size: .7em;
	}

	.widget p {
		font-size: 14px;
	}

	.widget h3 {
		padding-bottom: 0%;
	}

	.widget {
		width: 26%;
	}

	.navLeft h1, .navLeft a {
		font-size: 20px;
		letter-spacing: normal;
	}

	.navLeftGone h1, .navLeftGone a {
		font-size: 20px;
		letter-spacing: normal;
	}

	.nonLinkNav h1, .nonLinkNav a, .nonLinkNav i {
		font-size: 20px;
		letter-spacing: normal;
	}

	.miniNavLinks h1, .miniNavLinks a {
		font-size: 16px;
		letter-spacing: normal;
	}

	.healthWidget p {
		max-width: 150px;
	}

}

@media (max-width: 1000px) {

	.navCircleOpen {
		position: absolute;
		width:150px;
	    height:150px;
	    border-radius:50%;
	    font-size:14px;
	    line-height:100px;
	    text-align:center;
		z-index: 5;
		background: white;
		border: 3px solid #FF9012;
		margin: 25px 0 0 75%;
		box-shadow: 5px 5px 10px rgba(95, 89, 123, 0.15);
		transform: rotateY(0deg);
		transition: transform .25s;
	}

	.navCircleClosed {
		position: fixed;
		width:150px;
	    height:150px;
	    border-radius:50%;
	    font-size:14px;
	    line-height:100px;
	    text-align:center;
		z-index: 5;
		background: white;
		border: 3px solid #FF9012;
		margin: 25px 0 0 75%;
		box-shadow: 5px 5px 10px rgba(95, 89, 123, 0.2);
		transform: rotateY(180deg);
		transition: transform .25s;
		-webkit-transform: translate3d(0,0,0);

	}

	.navCircleClosed div.bar1 {
		position: absolute;
		height: 110px;
		width: 15px;
		background: rgb(22, 0, 70);
		top: 13%;
		left: 44.5%;
		transform: rotate(45deg);
		border-radius: 5%;
	}

	.navCircleClosed div.bar2 {
		position: absolute;
		height: 110px;
		width: 15px;
		background: rgb(22, 0, 70);
		top: 13%;
		left: 44.5%;
		transform: rotate(-45deg);
		border-radius: 5%;
	}

	.navCircleClosed div.bar3 {
		display: none;
	}

	.navCircleOpen div.bar1 {
		position: absolute;
		height: 90px;
		width: 12.5px;
		border-radius: 5%;
		background: rgb(22, 0, 70);
		top: 1%;
		left: 46%;
		transform: rotate(90deg);
	}

	.navCircleOpen div.bar2 {
		position: absolute;
		height: 90px;
		width: 12.5px;
		border-radius: 5%;
		background: rgb(22, 0, 70);
		top: 19%;
		left: 46%;
		transform: rotate(90deg);
	}

	.navCircleOpen div.bar3 {
		position: absolute;
		height: 90px;
		width: 12.5px;
		border-radius: 5%;
		background: rgb(22, 0, 70);
		top: 37%;
		left: 46%;
		transform: rotate(90deg);
	}



	.navLeft {
		visibility: hidden;
		position: absolute;
		width: 100%;
		height: 150%;
		z-index: 4;
		background: -webkit-linear-gradient(#16003d, #8343f6);
		background: -o-linear-gradient(#16003d, #8343f6);
		background: -moz-linear-gradient(#16003d, #8343f6);
		background: linear-gradient(#16003d, #8343f6);
		color: white;
		-webkit-clip-path: polygon(0 0, 100% 0, 1000% 100%, 0% 100%);
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		transition: transform 0s;
		margin-left: 0vw;
		transform: translate(0vw, 0);
	}

	.navLeftGone {
		position: fixed;
		width: 100%;
		height: 250vh;
		overflow-x: hidden;
		overflow-y: hidden;
		z-index: 4;
		background: -webkit-linear-gradient(#16003d, #8343f6);
		background: -o-linear-gradient(#16003d, #8343f6);
		background: -moz-linear-gradient(#16003d, #8343f6);
		background: linear-gradient(#16003d, #8343f6);
		color: white;
		-webkit-clip-path: polygon(0 0, 100% 0, 1000% 100%, 0% 100%);
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		transition: transform 0s;
		margin-left: 0vw;
		transform: translate(0vw, 0);
	}

	.navLeft img, .navLeftGone img {
		display: none;
	}

	.navLinks {
		margin-top: 250px;
	}

	.navLeft h1, .navLeft a {
		font-size: 60px;
		letter-spacing: normal;
	}

	.navLeftGone h1, .navLeftGone a {
		font-size: 60px;
		letter-spacing: normal;
	}

	.nonLinkNav h1, .nonLinkNav a, .nonLinkNav i {
		font-size: 60px;
		letter-spacing: normal;
	}

	.miniNavLinks h1, .miniNavLinks a {
		font-size: 40px;
		letter-spacing: normal;
	}

	.bodyContent {
		margin: 0 auto 0 auto;
		width: 100%;
		padding-top: 220px;
		transition: transform .5s;
		transform: translate(0%, 0);
	}

	.bodyContent2 {
		margin: 0 auto 0 auto;
		width: 100%;
		padding-top: 220px;
		transition: transform 1.25s;
	}

	.mobileLogo {
		display: block;
		position: absolute;
		/*padding-top: 1.25vh;*/
		/*padding-right: 1.25vw;*/
		width: 100vw;
		height: 200px;
		background: #16003d;
	}

	.mobileLogo img {
		height: 185px;
	}

	.widget p {
		font-size: 32px;
	}

	.widget h3 {
		font-size: 48px;
	}

	.widget {
		width: 42.5%;
		height:150px;
	}

	div.widget i.fa-database:before {
		font-size: 1.5em;
	}

	div.widget i.fa-file:before {
		font-size: 1.5em;
	}

	div.widget i.fa-ambulance:before {
		font-size: 1.5em;
	}

	div.widget i.fa-archive:before {
		font-size: 1.5em;
	}

	div.widget i.fa-server:before {
		font-size: 1.5em;
	}

	div.widget i.fa-desktop:before {
		font-size: 1.5em;
	}

	div.widget i.fa-camera:before {
		font-size: 1.5em;
	}

	div.widget i.fa-check:before {
		font-size: 1.5em;
	}

	.widgetWide h2 {
		font-size: 48px;
		padding-right: 30px;
	}

	.widgetWide i {
		font-size: 48px;
		padding-left: 30px;
	}

	p.summaryInfoTitle {
		font-size: 32px;
		margin-bottom: 0px;
	}

	div.summaryInfoBox {
		width: 400px;
		Height: 400px;
	}

	p.circleChartInner {
		font-size: 32px;
	}

	.circleChartOuter {
		position: relative;
		width:300px;
	    height:300px;
	    border-radius:50%;
	    font-size:14px;
	    line-height:300px;
	    text-align:center;
		background: -webkit-linear-gradient(#2492b7, #2EFFDA);
		background: -o-linear-gradient(#2492b7, #2EFFDA);
		background: -moz-linear-gradient(#2492b7, #2EFFDA);
		background: linear-gradient(#2492b7, #2EFFDA);
		margin: 25px 50px 50px 50px;
		overflow-y: hidden;
		-webkit-animation:spin 3s linear infinite;
	    -moz-animation:spin 3s linear infinite;
	    animation:spin 3s linear infinite;
	}

	.circleChartOuter2 {
		position: relative;
		width:300px;
	    height:300px;
	    border-radius:50%;
	    font-size:14px;
	    line-height:300px;
	    text-align:center;
		background: gray;
		background: gray;
		background: gray;
		background: gray;
		overflow-y: hidden;
		margin: 25px 50px 50px 50px;
		-webkit-animation:spin 3s linear infinite;
	    -moz-animation:spin 3s linear infinite;
	    animation:spin 3s linear infinite;
	}

	@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
	@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
	@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

	.circleChartInner {
		position: absolute;
		width:262.5px;
	    height:262.5px;
	    border-radius:50%;
	    line-height:262.5px;
	    background: white;
		/*margin: 18.75px 18.75px 18.75px 18.75px;*/
		top: 19px;
		left: 19px;
		-webkit-animation:spin2 3s linear infinite;
		-moz-animation:spin2 3s linear infinite;
		animation:spin2 3s linear infinite;
	}


	@-moz-keyframes spin2 { 100% { -moz-transform: rotate(-360deg); } }
	@-webkit-keyframes spin2 { 100% { -webkit-transform: rotate(-360deg); } }
	@keyframes spin2 { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

	.widgetHalf h2, .widgetHalf i {
		font-size: 48px;
	}

	.healthWidgetClosed {
		height: 100px;
	}

	.fixedHeader {
		width: 93vw;
	}

	.healthContent {
    	margin-top: 120px;
	}

	.liveFeedContent {
		margin-top: 120px;
	}

	.healthHR {
		width: 93vw;
	}

	.healthWidget i {
		margin-bottom: 15px;
	}

	.healthWidget h3 {
		font-size: 24px;
		width: 60vw;
		padding: 0
	}

	.healthWidget p.indent {
		padding: 0;
		max-width: 60vw;
	}

	.healthWidget p.moveUp {
		padding-top: 0;
	}

	.healthWidget p.moveUp2 {
		padding-top: 0;
	}
}
